# Copy this file to .env and set your private key before running the server
EMAILJS_SERVICE_ID=service_9ko6lao
EMAILJS_APPROVAL_TEMPLATE_ID=template_gvp6exk
EMAILJS_PUBLIC_KEY=8RVJ1Y6zL-VvkLeE1
EMAILJS_PRIVATE_KEY=YOUR_EMAILJS_PRIVATE_KEY
PORT=3000
